<legend>
    About
</legend>
<div class="row-fluid">
    <div class="span6">
        <h4>Web Dev & Sofware Engineering</h4>
        My main tools are Ruby on Rails, HTML, jQuery, JavaScript, and CSS to name a few.  I've built websites from the ground up on my own and also worked on teams with programmers from all over the world.  My pride and joy is ToyMetric.com which is in a loose "beta" phase which basically means I don't have the time to do an offical launch.  Toy Metric helps people manage their toy collections. 
    </div>
    <div class="span6">
        <%= image_tag "toy-metric-screenshot.png" %>
    </div>
</div>
<br/>
<div class="row-fluid">
    <div class="span6">
        <h4>Antique Toys and Trains</h4>
        I collect toys from the German manufacturer Märklin.  Its toys rank among the most collectable items in the antique toy industry and the company still operates today after 150 years of existance.  To share my passion for these toys I created the website MarklinStop.com where I publish research articles on the topic of Märklin.  I've presented my findings at the ETE EuroWest train show and some of my articles have been republished in journals and magazines in Spain, Germany, Australia, France, and Russia.
    </div>
    <div class="span6">
        <%= image_tag "marklin-train-station.jpg" %>
    </div>
</div>
