<div id="intro-branding">
        <h1>
          I build web applications for myself and for others using tools like Ruby on Rails, jQuery, HTML, and CSS.            
        </h1>
        <h5>This website is overly <strong>simple</strong>, so if you get lost, just look for <span id="colorful">colorful things</span> or <span id="black">black text</span>.</h5>
</div> 
