<div id="intro-branding">
        <h1>
          I build the web applications for myself and for others using tools like Ruby on Rails, jQuery, HTML, and CSS.            
        </h1>
        <h5>This website is overly <strong>simple</strong>, so if you get lost, just look for <span id="colorful">colorful things</span> or <span id="black">black text</span>.</h5>
</div> 
<div class="row-fluid"><!-- start row -->
    <div class="span6"><!-- start span left column -->     
            <h1>Who are you?</h1>
            <div class="content-header">
                <span>Projects</span>
            </div>
            <%= image_tag("toy_metric_logo.png", :style => "width:100%;") %>
            This is exactly what I like to do! This is exactly what I like to do! This is exactly what I like to do! This is exactly what I like to do! This is exactly what I like to do! This is exactly what I like to do! This is exactly what I like to do! 
              <div class="point">
                <span class="type">PHOTOS</span> 
                  <div class="verbiage">
                    I've takens some photos of the projects I've done.
                  </div>
              </div>
    </div><!-- end span left column -->     
    <div class="span6"><!-- start span right column -->     
    <h1>What do you do?</h1>
    <h5>I collect antique toys, design web applications, dabble in the stock market and landed on Mars before Curiousity did.  One of those is false.</h5>                 
    </div><!-- end span right column -->     
</div><!-- end row -->
